<h1>Welcome to the Budget Calendar App</h1>


<%= month_calendar events: Transaction.all do |date, transactions, account_id| %>
  <%= date.strftime('%d') %>
  <% transactions.each do |transaction| %>
    <% if transaction.amount < 0 %>
      <div class="bill">
    <% else %>
      <div class="income">
    <% end %>
      <%= transaction.name %>: <%= transaction.amount %>
      </div>
      <% if date >= @total_date %>
      <div class="income">
        <% @total += transaction.amount %>
        <%= "Balance: #{@total}" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= link_to "logout", destroy_user_session_path, method: :delete %>
